body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*prevent text selection in all divs*/
div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#static {
    height: 90%;
    position: relative;
}

#map {
    height: 100%;
}

.left-side {
    border-right: 5px solid gray;
}

#list {
    height:95%;
    overflow-y: auto;
    background-color: #fff;
    margin-bottom: 0px;
}

.overlay {
    position: absolute;
    display: none;
    z-index: 9999;
    opacity:0;
    pointer-events:none;
    background: white url("../img/ajax-loader.gif") no-repeat center center;
}

.white-loader {
    opacity: 0;
    position: absolute;
    z-index: 10002;
    background: url("../img/white-loader.gif") no-repeat center center;
    background-size: contain;
}

.timetable {
    width:100%;
}

.no-padding {
    padding: 0;
}

.padding-10 {
    padding: 15px;
}

.gif {
    margin-left:auto;
    margin-right:auto;
}

.border-box {
    box-sizing: border-box;
    height: 100%;
}

.whatever {
    box-sizing: border-box;
    height:100%;
    overflow: hidden;
    max-width: 450px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
}

.reddish {
    background-color: #000;
}

.gray {
    background-color: #888;
}

.blueish {
    background-color: #000066;
}

.semitransparent {
    opacity: 0.8;
}

.shadowDown {
    -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.55);
}

.shadowUp {
    -webkit-box-shadow: 0px -9px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -9px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px -9px 5px 0px rgba(0,0,0,0.55);
}

.shadowRight {
    -webkit-box-shadow: 9px 0px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 0px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 9px 0px 5px 0px rgba(0,0,0,0.55);
}

.headText {
    min-width : 8%;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.head-warning {
    opacity:0;
    display:none;
    padding-right:10px;
    min-width : 8%;
    color: white;
    vertical-align: middle;
    text-align: right;
    float:right;
}

#header {
    box-sizing: border-box;
    height: 10%;
    padding: 10px;
    position: relative;
    z-index: 10004;
    background: url("../img/background1.jpg") no-repeat left center;
    font-size: 4vh;
    border-bottom: 2px solid red;
    color: white;
}


.fullscreenbutton {
    text-align: center;
    color:white;
    border-radius: 25%;
    background-color: rgba(0,0,0, 0.8);
}

#logo {
    height:100%;
    margin-right: 5px;
}

.padding-on-top {
    padding-top: 25px;
}